<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a ui-sref="dashboard.products">Overview <span class="sr-only">(current)</span></a></li>
    </ul>
</div>