<p>Random product:</p>
<ul>
{% for product in products %}
    <li>Title: {{ product.title }}</li>
    <li>Description: {{ product.description }}</li>
    <li>Price: {{ product.price }}</li>
    <li>--------------------</li>
{% endfor %}
</ul>