<form novalidate name="editProduct" ng-submit="updateProduct()">
    <div class="alert alert-success" ng-if="success">
        <div ng-bind="success"></div>
    </div>
    <div class="alert alert-danger" ng-if="errors">
        <span ng-repeat="(name, error) in errors">
            <div ng-repeat="(key, val) in error"><span ng-bind="name"></span>: <span ng-bind="val"></span></div>
        </span>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" required ng-model="product.title" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="product.description" class="form-control" id="description"></textarea>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" required ng-model="product.price" class="form-control" id="price" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" required ng-model="product.color" color-picker class="form-control" id="color" placeholder="Color">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>