<ng-include src="'templates/shared/header.html'"></ng-include>
<div class="container-fluid">
    <div class="row">
        <ng-include src="'templates/shared/sidebar.html'"></ng-include>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <div class="row">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>