<div class="col-md-6">
    <ul>
        <li ng-repeat="product in products.results"><a ui-sref="dashboard.products.view({id:product.id})" ng-bind="product.title"></a><span ng-if="currentUser.is_superuser" class="edit-link">[<a ui-sref="dashboard.products.edit({id:product.id})">Edit</a>]</span></li>
    </ul>
</div>
<div class="col-md-6">
    <div ui-view>
        <p>Please, select a product</p>
    </div>
</div>