<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd ng-bind="product.title"></dd>
  <dt>Description</dt>
  <dd ng-bind="product.description"></dd>
  <dt>Price</dt>
  <dd ng-bind="product.price"></dd>
</dl>