<div class="container">
    <form ng-submit="login()" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p ng-bind="loginError"></p>
        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" ng-model="loginUsername" class="form-control" placeholder="Username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="loginPassword" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>