{% load product_tags %}

{% random_product %}

Settings: {{ SETTINGS }}
<br>
<br>

<table>
    <thead>
    <tr>
        <th>Method</th>
        <th>Status code</th>
        <th>Path</th>
    </tr>
    </thead>
    <tbody>
    {% for r in responses %}
    <tr>
        <td>{{ r.method }}</td>
        <td>{{ r.status_code }}</td>
        <td>{{ r.path }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>